name: Android CI

on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Download Android SDK
        uses: android-actions/setup-android@v3

      - name: Run checks
        uses: gradle/gradle-build-action@v2
        with:
          gradle-version: 8.2.1
          build-root-directory: app
          arguments: lint test
